/*  Style accueil.blade.php
-------------------------------
          Header
*/
header {
  background-color: #25A7A5;
  padding: 10px;
}
.head_link {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}
.logo-1 {
  display: flex;
  justify-content: flex-start;
  width: 5%;
}
.logo-1 img {
  width: 100%;
}
.title-head {
  display: flex;
  justify-content: flex-start;
  width: 95%;
}
.flex-header h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 40px;
}
.flex-header ul {
  font-family: 'Hind', sans-serif;
}
.flex-header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
.flex-header ul li {
  text-decoration: none;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  color: black;

}
.flex-header a {
  text-decoration: none;
  color: black;
}
.flex-header a:hover {
  text-decoration: none;
  color: white;
}
/*  Style accueil.blade.php
------------------------------
           Body
*/
body {
  background: url(/images/vintage.jpg) repeat-x bottom ;
  height: 1200px;
}
.title {
  text-shadow: 1px 1px 12px #555;
}
.title h1 {
  text-align: center;
  font-family: 'Righteous', cursive;
  margin-top: 20px;
  font-size: 100px;
}
.image1{
  width: 150px;
  color: #10ACAB;
  filter: drop-shadow(1px 1px 12px #555);
}
.title-2 h2 {
  text-align: center;
  font-family: 'Hind', sans-serif;
  margin-top: 20px;
}

.title-6 h3 {
  text-align: center;
  font-family: 'Hind', sans-serif;
  margin-top: 20px;
  font-size: 20px;
}
.image-back {
  width: 100%;
}
.row {
  position: relative;
  margin-top: 5%;
}
.image-back {
  z-index: 1;
  box-shadow: 1px 1px 12px #555;
}
#texte .text1 {
  font-family: 'Anton', sans-serif;
  font-size: 35px;
  color : white;
  text-shadow: 1px 1px 12px #555;
  position: absolute;
  top: 20%;
  left : 15%;
  z-index:2

}
#texte .text2 {
  font-family: 'Anton', sans-serif;;
  font-size: 35px;
  color : white;
  text-shadow: 1px 1px 12px #555;
  position: absolute;
  top: 20%;
  right : 15%;
  z-index:2
}
#texte .text3 {
  font-family: 'Anton', sans-serif;;
  font-size: 35px;
  color : white;
  text-shadow: 1px 1px 12px #555;
  position: absolute;
  top : 20%;
  left : 30%;
  z-index:2
}
.text-center img {
  width: 50%;
}
/*  Style create.blade.php et update.blade.php
-----------------------------------------------
                  Formulaire
*/
.title-3 {
  text-align: center;
  font-family: 'Hind', sans-serif;
  margin-top: 5%;
}
.background {
  background-color: #10ACAB;
  background-image: url(/images/drums.png);
  background-repeat: no-repeat;
  background-size: auto 60%;
  background-position: bottom right;
  width: 50%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 500px;
  box-shadow: 1px 1px 12px #555;
}
.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 5%;
}
.flex-group {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*  Style table.blade.php
------------------------------
           Tableau
*/
.head {
  background-color: #10ACAB;
}
.table-bordered {
  color: black;
}
.background_body {
  background-color: #63D8D2;
  background-size: 100% 100%;
}
.title-4 {
  text-align: center;
  font-family: 'Hind', sans-serif;
  margin-top: 5%;
}
.tableau {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  text-align: center;
  width: 1000px;
}
/*   Style search.blade.php
------------------------------
     Barre de recherche
*/

.navbar-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar-form .custom-search-form {
  width: 400px;
  height: 50px;
}

.navbar-form .button {
  background-color: #10ACAB;
  width:50px;
  height:50px;
}
